# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
*.venv
venv/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Assets
SQLAgent/assets/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Misc
*.bak
*.tmp
